@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    bool IsPost = Model != null;
    string UserName = IsPost ? Model.UserName : string.Empty;
}
<link href="~/css/Account/account.min.css" rel="stylesheet" />
<div class="login-page">
    <form class="form" role="form" method="post">
        <div class="com-logo">
            <a href="/"><img src="~/lib/metronic-master/assets/admin/layout/img/logo.png" /></a>
        </div>
        <div class="form-group text-left">
            <input type="email" id="username" name="username" required data-required-msg="Please enter email/username" validationMessage="Please enter valid email." placeholder="E-mail/UserName" value="@UserName" @(!IsPost ? "autofocus" : "") autocomplete="off">
            <span class="k-widget k-invalid-msg" data-for="email"></span>
        </div>
        <div class="form-group text-left">
            <input type="password" id="password" name="password" pattern=".{6,}" data-required-msg="Please enter password." required validationMessage="Password at least 6 characters long." placeholder="Password" @(IsPost ? "autofocus" : "") autocomplete="off" />
            <span class="k-widget k-invalid-msg" data-for="password"></span>
        </div>
        <div class="form-group text-left">
            <div class="checkbox">
                <label><input type="checkbox" class="k-checkbox" value="true" id="RememberMe" name="RememberMe">Remember me</label>
            </div>
            <!--<input type="checkbox" id="RememberMe" name="RememberMe" class="k-checkbox" value="true">
        <label class="k-checkbox-label" for="RememberMe">Remember me</label>-->
        </div>
        <button type="submit" class="btn" id="btnLogin">login</button>
        <!--<p class="message">Don't have an account? <a href="/Account/Signup">Sign Up</a></p>-->
        <h4 class="message"><a href="/Account/ResetPassword">Forgot password ?</a></h4>
        @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })
    </form>
</div>
<script src="~/js/Account/Login.min.js"></script>
