@{
    ViewData["Title"] = "SetNewPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/css/Account/account.min.css" rel="stylesheet" />
<div class="reset-page">
    <h2 class="text-center">Logo</h2>
    <div class="form">
        <div class="form-group text-left">
            <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-required-msg="Please enter password" required validationMessage="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="New Password" />
        </div>
        <div class="form-group text-left">
            <input type="password" id="confirmPassword" name="confirmPassword" required data-required-msg="Please enter confirm password" placeholder="Confirm Password" />
        </div>
        <div class="form-group">
            <button class="btn" id="btnReset" data-id="@ViewBag.Id">Reset Password</button>
        </div>
        <div class="form-group">
            <div id="divMessage"></div>
        </div>
    </div>
</div>
<script id="temp_alert" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_alert_Ok"><span class="k-icon k-update"></span>OK</button>
        </div>
    </div>
</script>
<script src="~/js/Account/SetNewPassword.min.js"></script>
