<label for="password">New Password</label>
<div class="form-group">
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-required-msg="Please enter new password" required validationMessage="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="Password" />
    @Html.ValidationMessage("password", "", new { @class = "text-Danger" })
</div>
<label for="confirmPassword">Confirm Password</label>
<div class="form-group">
    <input type="password" id="confirmPassword" name="confirmPassword" required data-required-msg="Please enter confirm password" placeholder="Confirm Password" />
    @Html.ValidationMessage("password", "", new { @class = "text-Danger" })
</div>