<div class="k-window-body">
    <div id="divPassEditForm" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn bg-green waves-effect" data-id="@ViewBag.Id" id="btnPassUpdate"><i class="fa fa-retweet"></i>&nbsp;Update</button>
    <button type="reset" class="btn  btn-info waves-effect" id="btnPassRefresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
    <button type="button" class="btn bg-red waves-effect" id="btnPassCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/HR/passwordEdit.min.js"></script>