@{
    ViewData["Title"] = "Users";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/kendoGrid.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('HR', '/HR/Index' )">HR</a>
        </li>
    </ul>
</div>
<div class="portal-content">
    <div id="hrGrid"></div>
</div>
<div id="divUserEditWin"></div>
<script type="text/x-kendo-template" id="GridHeadertemplate">
    <div class="row">
        <div class="col-md-4">
            <input id="UserMultiSelect" class="margin-bottom" />
            <span class="k-icon k-i-search search-icon-left"></span>
        </div>
        <div class="col-md-3 pull-right">
            <div class="pull-right">
                <a href="/Account/SignUp" id="btnCreateUser" class="btn btn-primary waves-effect" data-toggle="tooltip" title="Create new user"><i class="fa fa-plus"></i> Create</a>
                <a href="/Configuration/RoleList" id="btnRoleList" class="btn btn-primary waves-effect" data-toggle="tooltip" title="View Role list"><i class="fa fa-list"></i> Role list</a>
            </div>
        </div>
    </div>
</script>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px" class="col-red"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-info waves-effect" id="btn_delete_Entry_noty_ok"><i class="fa fa-check"></i>&nbsp;OK</button>
            <button type="button" class="btn btn-danger waves-effect" id="btn_delete_Entry_noty_cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </div>
    </div>
</script>
<script id="btnTemplate" type="text/x-kendo-template">
    # if(status === 'Deleted') { #
    <a class="btn btn-info waves-effect" href="" data-toggle="tooltip" title="View details"><i class="fa fa-eye"></i></a>
    <button type="button" class="btn btn-primary waves-effect" disabled data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></button>
    <button type="button" class="btn btn-danger waves-effect" disabled data-toggle="tooltip" title="Delete"> <i class="fa fa-trash"></i></button>
    #} else
    { #
    <a class="btn btn-info waves-effect btnViewDetails" href="/HR/UserDetails?q=#= encryptedId #" data-toggle="tooltip" title="View details"><i class="fa fa-eye"></i></a>
    <a class="btn btn-primary waves-effect btnViewDetails" href="/HR/UserDetails?q=#= encryptedId #&isEdit=true" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
    @*<button type="button" class="btn btn-primary waves-effect  btnEdit" data-id="#= encryptedId #" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></button>*@
    <button type="button" class="btn btn-danger waves-effect btnDelete" data-id="#= encryptedId #" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash"></i></button>
    #}#
</script>
<script id="imgTemplate" type="text/x-kendo-template">
    <div class="table-img">
        # if(image === null) {#
        <img src="../images/blankImage.png" width="40" height="40" />&nbsp;
        #}else
        {#
        <img src="../images/User/Original/#= image #" width="40" height="40" alt="" />&nbsp;
        #}#
        #= name #
    </div>
</script>
<script src="~/js/HR/hrList.min.js"></script>
