<div class="k-window-body">
    <div id="divUserEditForm" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn bg-green waves-effect" data-id="@ViewBag.Id" id="btnUserUpdate"><i class="fa fa-retweet"></i>&nbsp;Update</button>
    <button type="reset" class="btn  btn-info waves-effect" id="btnUserRefresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
    <button type="button" class="btn bg-red waves-effect" id="btnUserCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/HR/hr-edit.min.js"></script>
