<label for="name">Name</label>
<div class="form-group">
    <input type="text" id="name" name="name" value="@ViewBag.Name" placeholder="Folder name" />
    <span class="k-widget k-invalid-msg" data-for="name"></span>
</div>
