@Html.Hidden("cId", ViewBag.Id, "")
<div class="k-window-body">
    <div id="divCabinetForm" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn  btn-primary waves-effect" id="btnCabinetRenameOk"><i class="fa fa-check"></i>&nbsp;Ok</button>
    <button type="reset" class="btn  btn-info waves-effect" id="btnCabinetRenameRefresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
    <button type="button" class="btn bg-red waves-effect" id="btnCabinetRenameCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/Document/cabinetRename.min.js"></script>