@Html.Hidden("CabinetId", ViewBag.Id, "")
<div class="k-window-body">
    <div id="divCabinetDelete" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn btn-info waves-effect" id="btnCabinetDeleteOk"><i class="fa fa-check"></i>&nbsp;OK</button>
    <button type="button" class="btn bg-red waves-effect" id="btnCabinetDeleteCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/Document/cabinetDelete.min.js"></script>