@model DocumentManagement.ModelViews.Document.CabinetModelView
@Html.HiddenFor(m => m.EncryptedId)
@Html.HiddenFor(m => m.CountId)
@{
    ViewData["Title"] = "Cabinet Details";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/bg-page-content.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('Cabinet', '/Document/CabinetTile' )">Cabinet</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a onclick="onAjaxLoad('Cabinet Details', '/Document/CabinetTileDetails?q=@Model.EncryptedId' )">@Model.CabinetName</a>
        </li>
    </ul>
</div>
<div class="portal-content">
    <div class="card">
        <div class="header">
            <h3 class="col-deep-green"><strong>@Model.CabinetName</strong> <button class="btn btn-primary btn-sm waves-effect pull-right btnSelect">Select</button> <button class="btn btn-primary btn-sm waves-effect pull-right btnUnSelect" style="display: none;">Un-select</button></h3>
        </div>
        <div class="body min-h-2" oncontextmenu="return false">
            <div class="row form-group">
                <div id="divCabinetDocList" class="min-h-1">
                    <div class="loading_partial"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cmenu">
    <ul class="cmenu-options"></ul>
</div>
<input type="file" class="displayNone" name="files" id="files" multiple style="display:none" />
<script id="temp_win_file_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 16px; padding: 0px" class="col-red">
            #=msg# <br />
            <div class="checkbox">
                <label style="font-size:15px;"><input type="checkbox" id="keepCheckBox" name="keepCheckBox" style="width:20px">Keep Document</label>
            </div>
        </p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-info waves-effect" id="btn_file_delete_Entry_noty_ok"><i class="fa fa-check"></i>&nbsp;OK</button>
            <button type="button" class="btn btn-danger waves-effect" id="btn_file_delete_Entry_noty_cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </div>
    </div>
</script>
<script src="~/js/Document/Cabinet Tile/cabinet-tile-details.js"></script>