@Html.Hidden("F2Id_", ViewBag.Id, "")
<div class="k-window-body">
    <div id="divF2EditList" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="reset" class="btn  btn-info waves-effect" id="btnF2Refresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
    <button type="button" class="btn bg-red waves-effect" id="btnF2Cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/Document/f2Edit.min.js"></script>