@{
    ViewData["Title"] = "Favourite";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/bg-page-content.min.css" rel="stylesheet" />
<link href="~/css/Document/folderMenu.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('Favourite', '/Document/Favourite' )">Favourite</a>
        </li>
    </ul>
</div>
<div class="portal-content">
    <div class="card">
        <div class="header">
            <h3 class="col-deep-green"><strong>Favourite</strong></h3>
        </div>
        <div class="body min-h-2" oncontextmenu="return false">
            <div class="row form-group">
                <div id="divFavouriteList" class="min-h-1">
                    <div class="loading_partial"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cmenu">
    <ul class="cmenu-options"></ul>
</div>
<script src="~/js/Document/favourite.min.js"></script>