@Html.Hidden("FileId", ViewBag.Id, "")
<div class="k-window-body">
    <div id="divFileHistoryList" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn bg-red waves-effect" id="btnFileHistoryCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/Document/FileHistory/fileHistoryPartial.min.js"></script>
