@{
    ViewData["Title"] = "Document";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/kendoGrid.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('Document', '/Document/Index' )">Document</a>
        </li>
    </ul>
</div>
<div class="portal-content">
    <div id="divDocumentGrid"></div>
</div>
<div id="divDocCreateWin"></div>
<script type="text/x-kendo-template" id="GridHeadertemplate">
    <div class="row">
        <div class="col-md-4">
            <input id="DocumentMultiselect" class="margin-bottom" />
            <span class="k-icon k-i-search search-icon-left"></span>
        </div>
        <div class="col-md-4 pull-right">
            <div class="pull-right">
                <button type="button" class="btn btn-primary waves-effect btn-sm" data-toggle="tooltip" id="btnCreateDoc" title="Add new document"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </div>
</script>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px" class="col-red"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-info waves-effect" id="btn_delete_Entry_noty_ok"><i class="fa fa-check"></i>&nbsp;OK</button>
            <button type="button" class="btn btn-danger waves-effect" id="btn_delete_Entry_noty_cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </div>
    </div>
</script>
<script id="btnTemplate" type="text/x-kendo-template">
    # if(status === 'Deleted') { #
    <button class="btn btn-primary waves-effect btn-sm" data-toggle="tooltip" disabled title="View details"><i class="fa fa-eye"></i></button>
    @*<button type="button" class="btn btn-info waves-effect btn-sm" disabled data-toggle="tooltip" title="View log"><i class="fa fa-info"></i></button>*@
    #} else
    { #
    @*<button type="button" class="btn btn-primary waves-effect btn-sm btnEdit" data-id="#= encryptedId #" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></button>*@
    @*<button type="button" class="btn btn-danger waves-effect btn-sm btnDelete" data-id="#= encryptedId #" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash"></i></button>*@
    <a class="btn btn-primary waves-effect btn-sm btnViewDetails" href="/Document/DocumentDetails?q=#= encryptedId #" data-toggle="tooltip" title="View details"><i class="fa fa-eye"></i></a>
    @*<button type="button" class="btn btn-info waves-effect btn-sm btnLog" data-id="#= encryptedId #" data-toggle="tooltip" title="View log"><i class="fa fa-info"></i></button>*@
    #}#
</script>
<script src="~/js/Document/documentList.min.js"></script>