@{
    ViewData["Title"] = "Recycle Bin";
    Layout = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest" ? null : "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/kendoGrid.min.css" rel="stylesheet" />*@
<link href="~/css/bg-page-content.min.css" rel="stylesheet" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-list-ul"></i>
            <a onclick="onAjaxLoad('Recycle Bin', '/Document/Recycle' )">Recycle Bin</a>
        </li>
    </ul>
</div>
@*<div class="portal-content">
    <div id="divRecycleGrid"></div>
</div>*@
<div class="portal-content">
    <div class="card">
        <div class="header">
            <h3 class="col-deep-green"><strong>Recycle Bin</strong> @*<button class="btn btn-primary btn-sm waves-effect pull-right btnSelect">Select</button> <button class="btn btn-primary btn-sm waves-effect pull-right btnUnSelect" style="display: none;">Un-select</button>*@</h3>
        </div>
        <div class="body min-h-2" oncontextmenu="return false">
            <div class="row form-group">
                <div id="divRecycleList" class="min-h-1">
                    <div class="loading_partial"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cmenu">
    <ul class="cmenu-options"></ul>
</div>
<script type="text/x-kendo-template" id="GridHeadertemplate">
    <div class="row">
        <div class="col-md-4">
            <input id="FileMultiselect" class="margin-bottom" />
            <span class="k-icon k-i-search search-icon-left"></span>
        </div>
        <div class="col-md-4 pull-right">
            <div class="pull-right">

            </div>
        </div>
    </div>
</script>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px" class="col-red"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-info waves-effect" id="btn_delete_Entry_noty_ok"><i class="fa fa-check"></i>&nbsp;OK</button>
            <button type="button" class="btn btn-danger waves-effect" id="btn_delete_Entry_noty_cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </div>
    </div>
</script>
<script id="temp_win_Doc_restore" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 16px; padding: 0px" class="col-red">
            #=msg# 
        </p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-info waves-effect" id="btn_doc_restore_noty_ok"><i class="fa fa-check"></i>&nbsp;OK</button>
            <button type="button" class="btn btn-danger waves-effect" id="btn_doc_restore_noty_cancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </div>
    </div>
</script>
@*<script id="btnTemplate" type="text/x-kendo-template">
    <button type="button" class="btn btn-warning waves-effect btn-sm btnRestore" data-id="#= id #" data-toggle="tooltip" title="Restore"><i class="fa fa-undo"></i></button>
</script>*@
<script src="~/js/Document/Recycle/recycle.min.js"></script>