<div class="k-window-body">
    <div id="divStorageDetailsInfo" class="k-window-body-form">
        <div class="tiny_loading"></div>
    </div>
</div>
<div class="k-window-footer">
    <button type="button" class="btn bg-red waves-effect" id="btnStorageInfoCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
</div>
<script src="~/js/Document/storageInfo.min.js"></script>